
    root{
      flex-grow: 1;
      padding-top:20px
    };
    paper {
      padding: 2px;
      text-align: center;
    }
    background {
        background-color: red; 
        padding-top: 120px;
        padding-bottom: 120px;
    }
    container {
        display: flex;
        flex-wrap: wrap;
        padding: 20;
        background-color: red;
    };
    button {
        height: 10
    };
    #SignupLinkMain H3 {
        color: #efefef;
      }
    